<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="show" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{text.author}}</h5>
                <p class="card-text">{{text.message}}</p>
            </div>
        </div>
        <button (click)="show = !show" class="btn btn-outline-dark btn-block">
            Show/Hide
        </button>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let person of people; let i = index" class="list-group-item">
                {{i+1}} - {{person}}
            </li>
        </ul>
    </div>
</div>