<br>

<h1>{{ title }}</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="movies">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12 div-pic-1 puntero" (click)="imageClick(movies[0])" [ngStyle]="{'background-image': 'url(' + ( movies[0] | peliculaImagen ) + ')'}">
                <p class="pic-titulo">{{movies[0].title}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 div-pic-2 puntero" (click)="imageClick(movies[1])" [ngStyle]="{'background-image': 'url(' + ( movies[1] | peliculaImagen ) + ')'}">
                <p class="pic-titulo">{{movies[1].title}}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero" (click)="imageClick(movies[2])" [ngStyle]="{'background-image': 'url(' + ( movies[2] | peliculaImagen ) + ')'}">
                <p class="pic-titulo">{{movies[2].title}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6 div-pic-2 puntero" (click)="imageClick(movies[3])" [ngStyle]="{'background-image': 'url(' + ( movies[3] | peliculaImagen ) + ')'}">
                <p class="pic-titulo">{{movies[3].title}}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero" (click)="imageClick(movies[4])" [ngStyle]="{'background-image': 'url(' + ( movies[4] | peliculaImagen ) + ')'}">
                <p class="pic-titulo">{{movies[4].title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 div-pic-1 puntero" (click)="imageClick(movies[5])" [ngStyle]="{'background-image': 'url(' + ( movies[5] | peliculaImagen ) + ')'}">
                <p class="pic-titulo">{{movies[5].title}}</p>

            </div>
        </div>
    </div>
</div>