<ejs-grid #grid [dataSource]='parentGridData' [showColumnChooser]="true" [allowSorting]="true" [allowPaging]="true" [allowResizing]="true" [allowReordering]='true' [allowFiltering]="true" [allowGrouping]="true" [filterSettings]='filterOptions'
    [toolbar]='toolbarOptions' [editSettings]='editSettings' (dataBound)='dataBound()' (actionBegin)='actionBegin($event)' (rowSelected)="onRowSelected($event)">
    <e-columns>
        <e-column field='USER_ID' headerText='User ID' textAlign='Right' width=120 isPrimaryKey='true'></e-column>
        <e-column field='USER_NAME' headerText='Name' width=150></e-column>
        <e-column field='USER_REAL_NAME' headerText='Real Name' width=150></e-column>
        <e-column field='PROF_ID' headerText='Profile ID' width=150 editType='dropdownedit'></e-column>
        <e-column field='PROF_ID' headerText='Profile' width=150 editType='dropdownedit' [dataSource]='araProfileSource' foreignKeyValue='PROF_DESCRIPTION'></e-column>
        <e-column field='USER_EMAIL' headerText='Email' width=150></e-column>
        <e-column field='VendorId' headerText='Vendor Id' width=150 editType='dropdownedit'></e-column>
        <e-column field='LastModificationDate' headerText='Last Modification Date' format='yMd' width=120></e-column>
        <e-column field='LastModificationBy' headerText='Last Modification By' width=150 editType='dropdownedit'></e-column>
    </e-columns>
</ejs-grid>



<div class='e-statustext' *ngIf="key">Showing orders of Customer: <b>{{key}}</b></div>


<ejs-tab id="tab_default" heightAdjustMode='Auto'>
    <e-tabitems>
        <e-tabitem header="Access by region">
            <ng-template #content>
                <ejs-grid #childGrid [dataSource]='childGridData' [showColumnChooser]="true" [allowSorting]="true" [allowPaging]="true" [allowResizing]="true" [allowReordering]='true' [allowFiltering]="true" [allowGrouping]="true" [filterSettings]='filterOptions'
                    [toolbar]='toolbarOptions' [editSettings]='editSettings' (dataBound)='dataBound()' (actionBegin)='actionBegin($event)' (rowSelected)="onRowSelected($event)">
                    <e-columns>
                        <!-- <e-column field='USER_ID' headerText='User ID' textAlign='Right' width=120 isPrimaryKey='true'></e-column>
                        <e-column field='USER_NAME' headerText='Name' width=150></e-column>
                        <e-column field='USER_REAL_NAME' headerText='Real Name' width=150></e-column>
                        <e-column field='PROF_ID' headerText='Profile ID' width=150 editType='dropdownedit'></e-column>
                        <e-column field='PROF_ID' headerText='Profile' width=150 editType='dropdownedit' [dataSource]='araProfileSource' foreignKeyValue='PROF_DESCRIPTION'></e-column>
                        <e-column field='USER_EMAIL' headerText='Email' width=150></e-column>
                        <e-column field='VendorId' headerText='Vendor Id' width=150 editType='dropdownedit'></e-column>
                        <e-column field='LastModificationDate' headerText='Last Modification Date' format='yMd' width=120></e-column>
                        <e-column field='LastModificationBy' headerText='Last Modification By' width=150 editType='dropdownedit'></e-column> -->
                    </e-columns>
                </ejs-grid>
            </ng-template>
        </e-tabitem>
    </e-tabitems>
</ejs-tab>