<div class="container main-container animated fadeIn fast" *ngIf="pelicula">
    <h1>{{pelicula.title}}</h1>
    <div class="row">
        <div class="col-md-5">
            <img [src]="pelicula | peliculaImagen:true" [alt]="pelicula.original_title" class="img-thumbnail img-fluid">
        </div>
        <div class="col-md-7">
            <h3>Sinopsis</h3>
            <hr>
            <p>{{pelicula.overview}}</p>
            <p>{{pelicula.tagline}}</p>
            <p>
                Popularidad: <span class="badge badge-primary">{{pelicula.popularity | number: '.0-0'}}/10</span>
                <br>
                Votos promedio: <span class="badge badge-secondary">{{pelicula.vote_average}}</span>
            </p>
        </div>
        <button (click)="back()" class="btn btn-outline-danger">
            <i class="fas fa-backward"></i>
            Regresar
        </button>
    </div>
</div>